@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --white: #FFFFFF;
  --gray-100: #F3F6FF;
  --gray-200: #EFF2FC;
  --gray-300: #E2E5F1;
  --gray-400: #D4D7E5;
  --gray-500: #B4B7C9;
  --gray-600: #9397AD;
  --gray-700: #565973;
  --gray-800: #33354D;
  --gray-900: #0B0F19;
  --black: #000000;
  --icon-bg: rgba(99, 102, 241, 0.08);
  --primary: #6366F1;
  --gradient: linear-gradient(90deg, #6366F1 0%, #8B5CF6 50%, #D946EF 100%);
  --system-error: #EF4444;
  --system-success: #22C55E;
  --system-warning: #FFBA08;
  --system-info: #4C82F7;
  --background-color: white;
  --secoundary-background-color: #F3F6FF;
  --custom-bg-faq-color: white;
  --text-color: var(--gray-800);
  --secoundary-text-color: var(--gray-700);
  --stroke: var(--gray-300);
  --light-text: var(--gray-600);
}

.dark {
  --background-color: var(--gray-900);
  --secoundary-background-color: rgba(255, 255, 255, 0.04);
  --custom-bg-faq-color: rgba(255, 255, 255, 0.04);
  --text-color: var(--white);
  --secoundary-text-color: rgba(255, 255, 255, 0.7);
  --stroke: #e2e5f12e;
  --light-text: rgba(255, 255, 255, 0.5);
}

.custom-btn {
  background-color: var(--primary);
  color: white;
  padding: 14px 30px;
  outline: 3px solid transparent;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  transition: all 0.3s ease;
}
.custom-btn.arrow:hover {
  gap: 1rem;
  outline: 3px solid var(--stroke);
}

.custom-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;
  background-color: var(--icon-bg);
  border-radius: 8px;
}
.custom-icon img {
  width: 28px;
  height: 28px;
}

.custom-avatar {
  display: flex;
  gap: 0.6rem;
  height: 48px;
}
.custom-avatar b {
  line-height: 1.4;
  font-weight: 500;
  font-size: 14px;
}
.custom-avatar p {
  padding: 0 !important;
  color: var(--light-text);
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

p {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: var(--secoundary-text-color);
}

.navbar {
  position: fixed;
  width: 100%;
  height: 76px;
  color: var(--text-color);
  padding: 0 2rem;
  transition: all 0.2s ease-in-out;
  z-index: 1000;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 76px;
  max-width: 1296px;
  margin: 0 auto;
}
.navbar .container ul {
  display: flex;
  list-style: none;
}
.navbar .container ul li a {
  text-decoration: none;
  color: var(--text-color);
  padding: 0.5rem 1rem;
  transition: color 0.2s;
}
.navbar .container ul li a:hover {
  color: var(--primary);
}
.navbar .container__left {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.navbar .container__left--logo {
  text-decoration: none;
}
.navbar .container__left--logo figure {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.navbar .container__left--logo figure h3 {
  letter-spacing: 0.5px;
  font-size: 1.4rem;
  color: var(--text-color);
}
@media screen and (max-width: 768px) {
  .navbar .container__left--menu {
    display: none !important;
  }
}
.navbar .container__left--link {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.3s;
}
.navbar .container__left--link:hover {
  color: var(--primary-color);
}
.navbar .container__right {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.navbar .container__right--switch {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navbar .container__right--switch p {
  font-size: 0.8rem;
  color: var(--gray-700);
}
.navbar .container__right--switch .switcher {
  width: 46px;
  height: 24px;
  background: var(--gray-600);
  border-radius: 20px;
  padding: 2px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.navbar .container__right--switch .switcher.active {
  background-color: var(--primary);
}
.navbar .container__right--switch .switcher div {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
}
.navbar .container__right--switch .switcher div.dark {
  transform: translateX(22px);
}
.navbar .container__right--switch .switcher:hover div {
  opacity: 1;
}
.navbar .container__right button {
  background: var(--primary);
  padding: 0.8rem 1.6rem;
  border: none;
  outline: none;
  border-radius: 6px;
  color: white;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.navbar .container__right button img {
  transition: opacity 0.2s ease-in-out;
}
.navbar .container__right button:hover {
  box-shadow: 0 0 10px 10px inset rgba(255, 255, 255, 0.06);
}
.navbar .container__right button:hover img {
  opacity: 0.5;
}
.navbar .container__right button:active {
  transform: scale(0.95);
}
.navbar .container__right .hamburger-icon {
  position: relative;
  display: none;
  cursor: pointer;
  width: 30px;
  height: 36px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.35rem;
}
.navbar .container__right .hamburger-icon div {
  position: relative;
  width: 26px;
  height: 2px;
  background: var(--text-color);
}
@media screen and (max-width: 768px) {
  .navbar .container__right button {
    display: none;
  }
  .navbar .container__right .hamburger-icon {
    display: flex;
    margin-left: 20px;
  }
}
@media screen and (max-width: 430px) {
  .navbar .container__right .hamburger-icon {
    margin-left: 0;
  }
  .navbar .container__right--switch p {
    display: none;
  }
}
.navbar.scrolled {
  background-color: var(--background-color);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.04);
}
@media screen and (max-width: 430px) {
  .navbar {
    padding: 0 1rem;
  }
}

main {
  width: 100%;
  height: auto;
}
main .hero {
  width: 100%;
  height: 100%;
  max-height: 876px;
  overflow: hidden;
  background: linear-gradient(365deg, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
  padding: 0 2rem;
  padding-top: 208px;
}
main .hero--hero-mobile {
  position: absolute;
  display: none;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  z-index: 200;
  top: 100px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  left: calc(50% - 200px);
}
main .hero__container {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
  display: flex;
  align-items: start;
  justify-content: start;
}
main .hero__container aside {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 600px;
  width: 50%;
  max-width: 500px;
}
main .hero__container aside .hero-text__top {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
main .hero__container aside .hero-text__top h1 {
  font-size: 50px;
  line-height: 1.3;
}
main .hero__container aside .hero-text__top p {
  width: 80%;
  opacity: 0.8;
}
main .hero__container aside .hero-text__top figure {
  display: flex;
  gap: 1.2rem;
}
main .hero__container aside .hero-text__bottom {
  display: flex;
  gap: 1rem;
  align-items: center;
}
main .hero__container aside .hero-text__bottom figure {
  width: 44px;
  height: 44px;
  background: var(--background-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
main .hero__container aside .hero-text__bottom p {
  color: var(--gray-700);
  font-size: 0.8rem;
}
main .hero__container img {
  position: relative;
  width: 60%;
  height: auto;
  top: -3rem;
}
@media screen and (max-width: 768px) {
  main .hero {
    max-height: 618px;
    padding-top: 300px;
  }
  main .hero--hero-mobile {
    display: block;
  }
  main .hero__container aside {
    margin-top: 1.4rem;
    height: auto;
    width: 40%;
  }
  main .hero__container aside .hero-text__top h1 {
    display: none;
  }
  main .hero__container aside .hero-text__top p {
    width: 100%;
  }
  main .hero__container aside .hero-text__bottom {
    margin-top: 3rem;
  }
  main .hero__container img {
    width: 60%;
    top: -3.4rem;
  }
}
@media screen and (max-width: 640px) {
  main .hero {
    height: auto;
    max-height: auto;
  }
}
@media screen and (max-width: 440px) {
  main .hero {
    padding: 0 1rem;
    padding-bottom: 2rem;
  }
  main .hero--hero-mobile {
    display: none;
  }
  main .hero__container {
    padding-top: 100px;
  }
  main .hero__container aside {
    width: 100%;
    margin-top: auto;
  }
  main .hero__container aside .hero-text__top h1 {
    display: block;
    font-size: 34px;
    text-align: center;
    font-weight: 500;
    padding: 0 1rem;
  }
  main .hero__container aside .hero-text__top p {
    text-align: center;
  }
  main .hero__container aside .hero-text__top figure {
    flex-direction: column;
  }
  main .hero__container aside .hero-text__top figure svg {
    width: 100%;
  }
  main .hero__container aside .hero-text__bottom {
    justify-content: center;
    margin-top: 2rem;
  }
  main .hero__container img {
    display: none;
  }
}
main .logos {
  width: 100%;
  padding: 3.6rem 2rem;
}
main .logos__container {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
main .logos__container figure {
  width: 100%;
  max-width: 196px;
  height: 100px;
  border-radius: 8px;
  border: 1px solid var(--stroke);
  background: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1270px) {
  main .logos {
    padding: 2rem 2rem;
  }
  main .logos__container figure {
    max-width: 160px;
  }
}
@media screen and (max-width: 1050px) {
  main .logos__container {
    grid-template-columns: repeat(4, 1fr);
  }
  main .logos__container figure:nth-last-child(1),
  main .logos__container figure:nth-last-child(2) {
    display: none;
  }
}
@media screen and (max-width: 725px) {
  main .logos {
    padding: 2rem 1rem;
  }
  main .logos__container {
    grid-template-columns: repeat(3, 1fr);
  }
  main .logos__container figure:nth-last-child(3) {
    display: none;
  }
}
@media screen and (max-width: 565px) {
  main .logos {
    display: none;
  }
}
main .features {
  width: 100%;
  height: auto;
  padding: 3rem 2rem;
  padding-bottom: 5rem;
}
main .features__container {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
  display: flex;
}
main .features__container--left {
  width: 40%;
}
main .features__container--right {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .features__container--right h1 {
  font-size: 32px;
  font-weight: 500;
}
main .features__container--right aside {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
main .features__container--right aside div {
  display: flex;
  align-items: start;
  gap: 1rem;
  padding: 0.5rem;
}
main .features__container--right aside div span {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
main .features__container--right aside div span h3 {
  font-size: 18px;
  font-weight: 500;
}
@media screen and (max-width: 1080px) {
  main .features__container--left {
    display: none;
  }
  main .features__container--right {
    width: 100%;
  }
  main .features__container--right h1 {
    text-align: center;
  }
  main .features__container--right p {
    text-align: center;
  }
  main .features__container--right aside div span p {
    text-align: left;
  }
}
@media screen and (max-width: 600px) {
  main .features {
    padding: 3rem 1rem;
  }
}
@media screen and (max-width: 550px) {
  main .features__container--right h1 {
    font-size: 24px;
  }
  main .features__container--right aside {
    grid-template-columns: 1fr;
  }
  main .features__container--right aside div span h3 {
    font-size: 16px;
  }
}
main .how {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 60vh;
  background-color: var(--secoundary-background-color);
  padding: 4rem 2rem;
}
main .how__container {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
}
main .how__container .phone {
  display: none;
}
main .how__container h1 {
  width: 100%;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
}
main .how__container aside {
  display: flex;
  padding: 3rem 0;
  justify-content: space-evenly;
  width: 100%;
}
main .how__container aside figure {
  width: 33%;
}
main .how__container aside figure img {
  width: 100%;
  height: auto;
  max-height: 663px;
}
main .how__container aside .for-phone {
  display: none;
}
@media screen and (max-width: 600px) {
  main .how__container aside .for-phone {
    display: block;
    width: 84%;
    max-width: 300px;
    margin: 0 auto;
  }
  main .how__container aside .desktop {
    display: none !important;
  }
}
main .how__container h3 {
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  text-align: center;
}
main .how__container p {
  width: 100%;
  max-width: 636px;
  text-align: center;
  margin: 0 auto;
  padding: 1rem 0;
}
@media screen and (max-width: 600px) {
  main .how {
    padding: 3rem 1rem;
  }
  main .how__container h1 {
    font-size: 24px;
  }
  main .how__container h3 {
    font-size: 18px;
  }
  main .how__container .phone {
    display: block;
  }
  main .how__container .desk {
    display: none;
  }
}
main .mp {
  width: 100%;
  height: auto;
  padding: 8rem 2rem;
}
main .mp__container {
  width: 100%;
  max-width: 1076px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
main .mp__container article {
  display: flex;
  gap: 5rem;
}
main .mp__container article aside {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: start;
}
main .mp__container article aside h3 {
  font-size: 28px;
  max-width: 400px;
  font-weight: 600;
}
main .mp__container article aside ol {
  list-style: none;
}
main .mp__container article aside ol li {
  padding-bottom: 0.8rem;
  color: var(--secoundary-text-color);
  font-size: 14px;
  font-weight: 300;
}
main .mp__container article aside ol li::before {
  content: "";
  display: inline-block;
  width: 16.67px;
  height: 16.67px;
  background-image: url("/images/icons/check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px;
  vertical-align: middle;
}
main .mp__container article aside .payment-details {
  display: flex;
  gap: 1.6rem;
}
main .mp__container article aside .payment-details span {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
main .mp__container article aside .payment-details span p {
  line-height: 1.8;
}
@media screen and (max-width: 960px) {
  main .mp {
    display: none;
  }
}
main .testimonials {
  position: relative;
  width: 100%;
  background-color: var(--secoundary-background-color);
  height: auto;
  padding: 4rem 2rem;
}
main .testimonials__container {
  width: 100%;
  max-width: 1076px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
main .testimonials__container h1 {
  font-size: 32px;
  font-weight: 500;
  padding-right: 4rem;
}
main .testimonials__container aside {
  background: var(--background-color);
  padding: 0 1.4rem 1rem 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  border-radius: 6px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.04);
}
main .testimonials__container aside p {
  padding: 0.6rem 0;
}
main .testimonials__container aside .quote {
  margin-top: -20px;
  width: 44px;
  height: 44px;
}
main .testimonials__container aside .stars {
  width: 88px;
  height: 16px;
}
@media screen and (max-width: 960px) {
  main .testimonials {
    display: none;
  }
}

footer {
  height: auto;
  width: 100%;
  padding: 5rem 2rem 2rem 2rem;
}
footer section {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
}
footer section .small-devices-header {
  display: none;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 3rem;
  justify-content: center;
  align-items: center;
}
footer section .small-devices-header h1 {
  font-size: 24px;
  font-weight: 500;
  width: 100%;
  text-align: center;
}
footer section .small-devices-header p {
  font-size: 16px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}
footer section .main-content {
  display: flex;
  gap: 10rem;
}
footer section .main-content .left-side {
  width: auto;
  min-width: 417px;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
footer section .main-content .left-side h1 {
  font-size: 24px;
  font-weight: 500;
}
footer section .main-content .left-side p {
  font-size: 16px;
}
footer section .main-content .left-side .contact-details {
  display: flex;
  justify-content: space-between;
}
footer section .main-content .left-side .contact-details figure {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.2rem;
  width: 196px;
  height: auto;
  min-height: 166px;
  border: 1px solid var(--stroke);
  border-radius: 8px;
  padding: 1.2rem;
}
footer section .main-content .left-side .contact-details figure p {
  font-size: 13px;
}
footer section .main-content .left-side .contact-details figure button {
  background: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: #6366F1;
  cursor: pointer;
}
footer section .main-content .left-side .contact-details figure:nth-child(2) button {
  color: #22C55E;
}
footer section .main-content .left-side .contact-details .sd {
  display: none;
  margin: 0 auto;
}
footer section .main-content .right-side {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer section .main-content .right-side div {
  display: flex;
  flex-direction: column;
  background-color: var(--custom-bg-faq-color);
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
footer section .main-content .right-side div header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}
footer section .main-content .right-side div header h3 {
  font-size: 16px;
  font-weight: 500;
}
footer section .main-content .right-side div header figure {
  width: 36px;
  min-width: 36px;
  height: 36px;
  min-height: 36px;
  background: var(--secoundary-background-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer section .main-content .right-side div header figure svg {
  transition: all 0.2s ease-in-out;
}
footer section .main-content .right-side div span {
  position: relative;
  height: 0px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  color: var(--secoundary-text-color);
  font-size: 14px;
}
footer section .main-content .right-side div.active header figure {
  background: var(--primary);
}
footer section .main-content .right-side div.active header figure svg {
  transform: rotate(180deg);
}
footer section .main-content .right-side div.active header figure svg path {
  fill: white;
}
footer section .main-content .right-side div.active span {
  height: auto;
  padding: 1rem;
  padding-top: 0;
}
@media screen and (max-width: 1150px) {
  footer section .main-content {
    gap: 4rem;
  }
}
footer section .subscibe-content {
  width: 100%;
  padding: 2rem 6rem;
  background-color: var(--secoundary-background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  margin-top: 6rem;
}
footer section .subscibe-content .left {
  display: flex;
  align-items: center;
  gap: 1rem;
}
footer section .subscibe-content .left .mobile {
  display: none;
}
footer section .subscibe-content .left h2 {
  width: auto;
  max-width: 416px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
}
@media screen and (max-width: 990px) {
  footer section .subscibe-content .left .mobile {
    display: block;
  }
  footer section .subscibe-content .left .desktop {
    display: none;
  }
}
footer section .subscibe-content form {
  position: relative;
  display: flex;
  background-color: var(--custom-bg-faq-color);
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid var(--stroke);
}
footer section .subscibe-content form div {
  position: relative;
  height: 43px;
  width: 300px;
}
footer section .subscibe-content form div input {
  position: relative;
  height: 43px;
  width: 100%;
  border: none;
  outline: none;
  z-index: 2;
  padding-left: 36px;
  background: transparent;
  color: var(--text-color);
}
footer section .subscibe-content form div input::placeholder {
  color: #B4B7C9;
}
footer section .subscibe-content form div svg {
  position: absolute;
  z-index: 10;
  top: calc(50% - 10px);
  left: 10px;
}
footer section .subscibe-content form button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
footer section .copyright {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 12px;
  color: var(--light-text);
  padding-top: 2.6rem;
}
@media screen and (max-width: 900px) {
  footer section .small-devices-header {
    display: flex;
  }
  footer section .main-content {
    flex-wrap: wrap-reverse;
  }
  footer section .main-content .left-side {
    width: 100%;
  }
  footer section .main-content .left-side h1 {
    display: none;
  }
  footer section .main-content .left-side .desktop {
    display: none;
  }
  footer section .main-content .left-side .contact-details figure {
    width: 48%;
  }
  footer section .subscibe-content {
    padding: 2rem;
  }
}
@media screen and (max-width: 650px) {
  footer section .subscibe-content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.6rem;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 490px) {
  footer {
    padding: 3rem 1rem;
  }
  footer section .main-content .left-side {
    min-width: auto;
  }
  footer section .contact-details figure {
    display: none !important;
  }
  footer section .sd {
    display: block !important;
  }
}

/*# sourceMappingURL=styles.css.map */
