@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './variables.scss';
@import './reusable.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

p {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.2px;
    color: var(--secoundary-text-color);
}

.navbar {
    position: fixed;
    width: 100%;
    height: 76px;
    color: var(--text-color);
    padding: 0 2rem;
    transition: all 0.2s ease-in-out;
    z-index: 1000;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 76px;
        max-width: 1296px;
        margin: 0 auto;

        ul {
            display: flex;
            list-style: none;
    
            li {
                a {
                    text-decoration: none;
                    color: var(--text-color);
                    padding: 0.5rem 1rem;
                    transition: color 0.2s;
    
                    &:hover {
                        color: var(--primary);
                    }
                }
            }
        }

        &__left {
            display: flex;
            align-items: center;
            gap: 2rem;

            &--logo {
                text-decoration: none;

                figure {
                    display: flex;
                    align-items: center;
                    gap: 0.4rem;

                    h3 {
                        letter-spacing: 0.5px;
                        font-size: 1.4rem;
                        color: var(--text-color);
                    }
                }
            }

            @media screen and (max-width: 768px) {
                &--menu {
                    display: none !important;
                }
            }
            

            &--link {
                text-decoration: none;
                color: var(--text-color);
                transition: color 0.3s;

                &:hover {
                    color: var(--primary-color);
                }
            }
        }

        &__right {
            display: flex;
            align-items: center;
            gap: 2rem;

            &--switch {
                display: flex;
                align-items: center;
                gap: 1rem;

                p {
                    font-size: 0.8rem;
                    color: var(--gray-700);
                }

                .switcher {
                    width: 46px;
                    height: 24px;
                    background: var(--gray-600);
                    border-radius: 20px;
                    padding: 2px;
                    cursor: pointer;
                    transition: background-color 0.3s;

                    &.active {
                        background-color: var(--primary);
                    }

                    div {
                        width: 20px;
                        height: 20px;
                        background: white;
                        border-radius: 50%;
                        opacity: 0.7;
                        transition: all 0.2s ease-in-out;

                        &.dark {
                            transform: translateX(22px);
                        }
                    }

                    &:hover {
                        div {
                            opacity: 1;
                        }
                    }
                }
            }

            button {
                background: var(--primary);
                padding: 0.8rem 1.6rem;
                border: none;
                outline: none;
                border-radius: 6px;
                color: white;
                font-size: 0.9rem;
                display: flex;
                align-items: center;
                gap: 0.4rem;
                cursor: pointer;
                transition: all 0.2s ease-in-out;

                img {
                    transition: opacity 0.2s ease-in-out;
                }

                &:hover {
                    box-shadow: 0 0 10px 10px inset rgba(255, 255, 255, 0.06);
                    img {
                        opacity: 0.5;
                    }
                }

                &:active {
                    transform: scale(0.95);
                }
            }

            .hamburger-icon {
                position: relative;
                display: none;
                cursor: pointer;
                width: 30px;
                height: 36px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 0.35rem;

                div {
                    position: relative;
                    width: 26px;
                    height: 2px;
                    background: var(--text-color);
                }
            }

            @media screen and (max-width: 768px) {
                button {
                    display: none;
                }
                .hamburger-icon {
                    display: flex;
                    margin-left: 20px;
                }
            }

            @media screen and (max-width: 430px) {
                .hamburger-icon {
                    margin-left: 0;
                }
                &--switch {
                    p {
                        display: none;
                    }
                }
            }
        }
    }

    &.scrolled {
        background-color: var(--background-color);
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.04);
    }

    @media screen and (max-width: 430px) {
        padding: 0 1rem;
    }
}

main {
    width: 100%;
    height: auto;

    .hero {
        width: 100%;
        height: 100%;
        max-height: 876px;
        overflow: hidden;
        background: linear-gradient(365deg, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
        padding: 0 2rem;
        padding-top: 208px;

        &--hero-mobile {
            position: absolute;
            display: none;
            font-size: 40px;
            font-weight: 600;
            line-height: 1.2;
            z-index: 200;
            top: 100px;
            width: 100%;
            max-width: 400px;
            text-align: center;
            left: calc(50% - 200px);
        }

        &__container {
            width: 100%;
            max-width: 1296px;
            margin: 0 auto;
            display: flex;
            align-items: start;
            justify-content: start;

            aside {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                height: 600px;
                width: 50%;
                max-width: 500px;

                .hero-text__top {
                    display: flex;
                    flex-direction: column;
                    gap: 1.6rem;

                    h1 {
                        font-size: 50px;
                        line-height: 1.3;
                    }
    
                    p {
                        width: 80%;
                        opacity: 0.8;
                    }
    
                    figure {
                        display: flex;
                        gap: 1.2rem;
                    }
                }

                .hero-text__bottom {
                    display: flex;
                    gap: 1rem;
                    align-items: center;

                    figure {
                        width: 44px;
                        height: 44px;
                        background: var(--background-color);
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }

                    p {
                        color: var(--gray-700);
                        font-size: 0.8rem;
                    }
                }
            }

            img {
                position: relative;
                width: 60%;
                height: auto;
                top: -3rem;
            }
        }

        @media screen and (max-width: 768px) {
            max-height: 618px;
            padding-top: 300px;

            &--hero-mobile {
                display: block;
            }

            &__container {
                aside {
                    margin-top: 1.4rem;
                    height: auto;
                    width: 40%;

                    .hero-text__top {
                        h1 {
                            display: none;
                        }

                        p {
                            width: 100%;
                        }
                    }
                    .hero-text__bottom {
                        margin-top: 3rem;
                    }
                }

                img {
                    width: 60%;
                    top: -3.4rem;
                }
            }
        }

        @media screen and (max-width: 640px) {
            height: auto;
            max-height: auto;
        }

        @media screen and (max-width: 440px) {
            padding: 0 1rem;
            padding-bottom: 2rem;

            &--hero-mobile {
                display: none;
            }

            &__container {
                padding-top: 100px;

                aside {
                    width: 100%;
                    margin-top: auto;

                    .hero-text__top {
                        h1 {
                            display: block;
                            font-size: 34px;
                            text-align: center;
                            font-weight: 500;
                            padding: 0 1rem;
                        }
                        p {
                            text-align: center;
                        }
                        figure {
                            flex-direction: column;

                            svg {
                                width: 100%;
                            }
                        }
                    }

                    .hero-text__bottom {
                        justify-content: center;
                        margin-top: 2rem;
                    }
                }

                img {
                    display: none;
                }
            }
        }
    }

    .logos {
        width: 100%;
        padding: 3.6rem 2rem;

        &__container {
            width: 100%;
            max-width: 1296px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(6, 1fr);

            figure {
                width: 100%;
                max-width: 196px;
                height: 100px;
                border-radius: 8px;
                border: 1px solid var(--stroke);
                background: var(--background-color);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        @media screen and (max-width: 1270px) {
            padding: 2rem 2rem;

            &__container {
                figure {
                    max-width: 160px;
                }
            }
        }

        @media screen and (max-width: 1050px) {
            &__container {
                grid-template-columns: repeat(4, 1fr);
                
                figure:nth-last-child(1),
                figure:nth-last-child(2) {
                    display: none;
                }
            }
        }

        @media screen and (max-width: 725px) {
            padding: 2rem 1rem;
            &__container {
                grid-template-columns: repeat(3, 1fr);
                
                figure:nth-last-child(3) {
                    display: none;
                }
            }
        }

        @media screen and (max-width: 565px) {
            display: none;
        }
    }

    .features {
        width: 100%;
        height: auto;
        padding: 3rem 2rem;
        padding-bottom: 5rem;

        &__container {
            width: 100%;
            max-width: 1296px;
            margin: 0 auto;
            display: flex;

            &--left {
                width: 40%;
            }

            &--right {
                width: 60%;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                h1 {
                    font-size: 32px;
                    font-weight: 500;
                }

                aside {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 1rem;

                    div {
                        display: flex;
                        align-items: start;
                        gap: 1rem;
                        padding: 0.5rem;

                        span {
                            display: flex;
                            flex-direction: column;
                            gap: 0.6rem;

                            h3 {
                                font-size: 18px;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
            @media screen and (max-width: 1080px) {
                &--left {
                    display: none;
                }
                &--right {
                    width: 100%;

                    h1 {
                        text-align: center;
                    }
                    p {
                        text-align: center;
                    }

                    aside {
                        div {
                            span {
                                p {
                                    text-align: left;
                                }
                            }
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 600px) {
            padding: 3rem 1rem;
        }

        @media screen and (max-width: 550px) {
            &__container {
                &--right {
                    h1 {
                        font-size: 24px;
                    }
                    aside {
                        grid-template-columns: 1fr;
                        div {
                            span {
                                h3 {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .how {
        position: relative;
        width: 100%;
        height: auto;
        min-height: 60vh;
        background-color: var(--secoundary-background-color);
        padding: 4rem 2rem;

        &__container {
            width: 100%;
            max-width: 1296px;
            margin: 0 auto;

            .phone {
                display: none;
            }

            h1 {
                width: 100%;
                text-align: center;
                font-size: 32px;
                font-weight: 500;
            }

            aside {
                display: flex;
                padding: 3rem 0;
                justify-content: space-evenly;
                width: 100%;

                figure {
                    width: 33%;

                    img {
                        width: 100%;
                        height: auto;
                        max-height: 663px;
                    }
                }

                .for-phone {
                    display: none;
                }

                @media screen and (max-width: 600px) {
                    .for-phone {
                        display: block;
                        width: 84%;
                        max-width: 300px;
                        margin: 0 auto;
                    }

                    .desktop {
                        display: none !important;
                    }
                }
            }

            h3 {
                font-size: 20px;
                font-weight: 500;
                width: 100%;
                text-align: center;
            }

            p {
                width: 100%;
                max-width: 636px;
                text-align: center;
                margin: 0 auto;
                padding: 1rem 0;
            }

        }

        @media screen and (max-width: 600px) {
            padding: 3rem 1rem;

            &__container {
                h1 {
                    font-size: 24px;
                }
                h3 {
                    font-size: 18px;
                }

                .phone {
                    display: block;
                }
    
                .desk {
                    display: none;
                }
            }
        }
    }

    .mp {
        width: 100%;
        height: auto;
        padding: 8rem 2rem;

        &__container {
            width: 100%;
            max-width: 1076px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 4rem;

            article {
                display: flex;
                gap: 5rem;

                aside {
                    display: flex;
                    flex-direction: column;
                    gap: 1.6rem;
                    align-items: start;

                    h3 {
                        font-size: 28px;
                        max-width: 400px;
                        font-weight: 600;
                    }

                    ol {
                        list-style: none;
                        
                        li {
                            padding-bottom: 0.8rem;
                            color: var(--secoundary-text-color);
                            font-size: 14px;
                            font-weight: 300;
                        }

                        li::before {
                            content: "";
                            display: inline-block;
                            width: 16.67px;
                            height: 16.67px;
                            background-image: url('/images/icons/check.svg');
                            background-size: contain;
                            background-repeat: no-repeat;
                            margin-right: 8px;
                            vertical-align: middle;
                        }
                    }

                    .payment-details {
                        display: flex;
                        gap: 1.6rem;
                        
                        span {
                            display: flex;
                            flex-direction: column;
                            align-items: start;
                            gap: 1rem;

                            p {
                                line-height: 1.8;
                            }
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 960px) {
            display: none;
        }
    }

    .testimonials {
        position: relative;
        width: 100%;
        background-color: var(--secoundary-background-color);
        height: auto;
        padding: 4rem 2rem;

        &__container {
            width: 100%;
            max-width: 1076px;
            margin: 0 auto;
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(3, 1fr);

            h1 {
                font-size: 32px;
                font-weight: 500;
                padding-right: 4rem;
            }
            aside {
                background: var(--background-color);
                padding: 0 1.4rem 1rem 1.4rem;
                display: flex;
                flex-direction: column;
                gap: 0.6rem;
                border-radius: 6px;
                box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.04);

                p {
                    padding: 0.6rem 0;
                }

                .quote {
                    margin-top: -20px;
                    width: 44px;
                    height: 44px;
                }

                .stars {
                    width: 88px;
                    height: 16px;
                }
            }
        }

        @media screen and (max-width: 960px) {
            display: none;
        }
    }
}

footer {
    height: auto;
    width: 100%;
    padding: 5rem 2rem 2rem 2rem;

    section {
        width: 100%;
        max-width: 1296px;
        margin: 0 auto;

        .small-devices-header {
            display: none;
            flex-direction: column;
            gap: 1rem;
            padding-bottom: 3rem;
            justify-content: center;
            align-items: center;

            h1 {
                font-size: 24px;
                font-weight: 500;
                width: 100%;
                text-align: center;
            }

            p {
                font-size: 16px;
                width: 100%;
                max-width: 400px;
                text-align: center;
            }
        }

        .main-content {
            display: flex;
            gap: 10rem;

            .left-side {
                width: auto;
                min-width: 417px;
                display: flex;
                flex-direction: column;
                gap: 1.4rem;

                h1 {
                    font-size: 24px;
                    font-weight: 500;
                }

                p {
                    font-size: 16px;
                }

                .contact-details {
                    display: flex;
                    justify-content: space-between;

                    figure {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        gap: 1.2rem;
                        width: 196px;
                        height: auto;
                        min-height: 166px;
                        border: 1px solid var(--stroke);
                        border-radius: 8px;
                        padding: 1.2rem;

                        p {
                            font-size: 13px;
                        }

                        button {
                            background: transparent;
                            border: none;
                            padding: 0;
                            display: flex;
                            align-items: center;
                            gap: 0.4rem;
                            color: #6366F1;
                            cursor: pointer;
                        }

                        &:nth-child(2) {
                            button {
                                color: #22C55E;
                            }
                        }
                    }

                    .sd {
                        display: none;
                        margin: 0 auto;
                    }
                }
            }

            .right-side {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                div {
                    display: flex;
                    flex-direction: column;
                    background-color: var(--custom-bg-faq-color);
                    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.06);
                    border-radius: 8px;

                    header {
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        align-items: center;
                        padding: 1rem;
                        cursor: pointer;

                        h3 {
                            font-size: 16px;
                            font-weight: 500;
                        }

                        figure {
                            width: 36px;
                            min-width: 36px;
                            height: 36px;
                            min-height: 36px;
                            background: var(--secoundary-background-color);
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            svg {
                                transition: all 0.2s ease-in-out;
                            }
                        }
                    }

                    span {
                        position: relative;
                        height: 0px;
                        overflow: hidden;
                        transition: all 0.3s ease-in-out;
                        color: var(--secoundary-text-color);
                        font-size: 14px;
                    }

                    &.active {
                        header {
                            figure {
                                background: var(--primary);

                                svg {
                                    transform: rotate(180deg);
                                    path {
                                        fill: white;
                                    }
                                }
                            }
                        }
                        span {
                            height: auto;
                            padding: 1rem;
                            padding-top: 0;
                        }
                    }
                }
            }

            @media screen and (max-width: 1150px) {
                gap: 4rem;
            }
        }

        .subscibe-content {
            width: 100%;
            padding: 2rem 6rem;
            background-color: var(--secoundary-background-color);
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 8px;
            margin-top: 6rem;

            .left {
                display: flex;
                align-items: center;
                gap: 1rem;

                .mobile {
                    display: none;
                }

                h2 {
                    width: auto;
                    max-width: 416px;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 1.4;
                }

                @media screen and (max-width: 990px) {
                    .mobile {
                        display: block;
                    }
                    .desktop {
                        display: none;
                    }
                    
                }
            }

            form {
                position: relative;
                display: flex;
                background-color: var(--custom-bg-faq-color);
                overflow: hidden;
                border-radius: 8px;
                border: 1px solid var(--stroke);

                div {
                    position: relative;
                    height: 43px;
                    width: 300px;

                    input {
                        position: relative;
                        height: 43px;
                        width: 100%;
                        border: none;
                        outline: none;
                        z-index: 2;
                        padding-left: 36px;
                        background: transparent;
                        color: var(--text-color);

                        &::placeholder {
                            color: #B4B7C9;
                        }
                    }

                    svg {
                        position: absolute;
                        z-index: 10;
                        top: calc(50% - 10px);
                        left: 10px;
                    }
                }
                button {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }

        .copyright {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            font-size: 12px;
            color: var(--light-text);
            padding-top: 2.6rem;
        }

        @media screen and (max-width: 900px) {
            .small-devices-header {
                display: flex;
            }
            .main-content {
                flex-wrap: wrap-reverse;

                .left-side {
                    width: 100%;
                    h1 {
                        display: none;
                    }
                    .desktop {
                        display: none;
                    }

                    .contact-details {
                        figure {
                            width: 48%;
                        }
                    }
                }
            }

            .subscibe-content {
                padding: 2rem;
            }
        }   

        @media screen and (max-width: 650px) {
            .subscibe-content {
                flex-wrap: wrap;
                justify-content: center;
                gap: 1.6rem;
                margin-top: 2rem;
            }
        }
    }

    @media screen and (max-width: 490px) {
        padding: 3rem 1rem;

        section {
            .main-content {
                .left-side {
                    min-width: auto;
                }
            }

            .contact-details {
                figure {
                    display: none !important;
                }
            }

            .sd {
                display: block !important;
            }
        }
    }
}